In [3]:
import pandas as pd

In [4]:
pd.__version__

'2.3.3'

In [ ]:
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

In [4]:
df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet')

In [5]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.0

In [6]:
len(df.columns)

21

For the trips in November 2025 (lpep_pickup_datetime between '2025-11-01' and '2025-12-01', exclusive of the upper bound), how many trips had a trip_distance of less than or equal to 1 mile?

In [7]:
count = df[
    (df['lpep_pickup_datetime'] >= '2025-11-01') &
    (df['lpep_pickup_datetime'] < '2025-12-01') &
    (df['trip_distance'] <= 1)
].shape[0]

print(count)

8007

In [23]:
SELECT COUNT(*) 
FROM green_taxi_data_2025_11
WHERE lpep_pickup_datetime >= '2025-11-01'
  AND lpep_pickup_datetime < '2025-12-01'
  AND trip_distance <= 1;

SyntaxError: Invalid star expression (2393612411.py, line 1)

In [9]:
# Check data types
df.dtypes

VendorID                          int32
lpep_pickup_datetime     datetime64[us]
lpep_dropoff_datetime    datetime64[us]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int32
DOLocationID                      int32
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
cbd_congestion_fee              float64
dtype: object

In [10]:
# Check data shape
df.shape

(46912, 21)

In [7]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [14]:
print(pd.io.sql.get_schema(df, name='green_taxi_data_2025_11', con=engine))

CREATE TABLE green_taxi_data_2025_11 (
	"VendorID" INTEGER,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53),
	cbd_congestion_fee FLOAT(53)
)

In [15]:
df.head(n=0).to_sql(name='green_taxi_data_2025_11', con=engine, if_exists='replace')

0

In [16]:
len(df)

46912

Just load the Parquet in one shot no chunking needed.

In [20]:
df = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet")

# df.to_sql(
#     name="green_taxi_data_2025_11",
#     con=engine,
#     if_exists="replace",  # or "append"
#     index=False
# )

In [5]:
zones_url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv'

In [26]:
zones = pd.read_csv(zones_url)
zones.head(265)

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [8]:
zones.to_sql(
    name="taxi_zone_lookup",
    con=engine,
    if_exists="replace",
    index=False
)

265

In [19]:
from sqlalchemy import text

with engine.begin() as conn:
    conn.execute(text("TRUNCATE TABLE green_taxi_data_2025_11"))

In [22]:
import pandas as pd
from tqdm.auto import tqdm
import pyarrow.parquet as pq

url = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet"
local_file = "green_tripdata_2025-11.parquet"

# download once
pd.read_parquet(url).to_parquet(local_file)

parquet_file = pq.ParquetFile(local_file)

first = True

for batch in tqdm(
    parquet_file.iter_batches(batch_size=10_000),
    desc="Loading Parquet"
):
    df_chunk = batch.to_pandas()

    if first:
        df_chunk.head(0).to_sql(
            name="green_taxi_data_2025_11",
            con=engine,
            if_exists="replace",
            index=False
        )
        first = False

    df_chunk.to_sql(
        name="green_taxi_data_2025_11",
        con=engine,
        if_exists="append",
        index=False
    )

Loading Parquet: 0it [00:00, ?it/s]

Question 4. Which was the pick up day with the longest trip distance? Only consider trips with trip_distance less than 100 miles.

In [21]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.0

In [27]:
zones = pd.read_csv('taxi_zone_lookup.csv')

In [28]:
df = df[df['trip_distance'] < 100].copy()
df['pickup_date'] = df['lpep_pickup_datetime'].dt.date

longest = df.loc[df['trip_distance'].idxmax()]
print(longest['pickup_date'])

2025-11-14

Question 5. Which was the pickup zone with the largest total_amount (sum of all trips) on November 18th, 2025?

PULocationID	is LocationID

In [29]:
nov18 = df[df['lpep_pickup_datetime'].dt.date == pd.to_datetime('2025-11-18').date()]

totals = nov18.groupby('PULocationID')['total_amount'].sum().reset_index()
top_zone_id = totals.loc[totals['total_amount'].idxmax(), 'PULocationID']

zone_name = zones[zones['LocationID'] == top_zone_id]['Zone'].values[0]
print(zone_name)

East Harlem North

Question 6. For the passengers picked up in the zone named "East Harlem North" in November 2025, which was the drop off zone that had the largest tip?

In [18]:
# Get East Harlem North location ID
ehn_id = zones[zones['Zone'] == 'East Harlem North']['LocationID'].values[0]
ehn_id

np.int64(74)

In [22]:
# Filter pickups from East Harlem North in November
ehn_trips = df[
    (df['PULocationID'] == ehn_id) &
    (df['lpep_pickup_datetime'].dt.month == 11) &
    (df['lpep_pickup_datetime'].dt.year == 2025)
]
ehn_trips

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.20,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.20,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
24,2,2025-11-01 00:38:13,2025-11-01 00:55:47,N,1.0,74,262,1.0,3.40,19.80,...,0.5,2.00,0.0,NaN,1.0,27.05,1.0,1.0,2.75,0.0
53,2,2025-11-01 00:20:44,2025-11-01 00:27:05,N,1.0,74,74,1.0,0.78,7.90,...,0.5,0.00,0.0,NaN,1.0,10.40,1.0,1.0,0.00,0.0
68,2,2025-11-01 00:20:37,2025-11-01 00:24:42,N,1.0,74,41,1.0,0.77,6.50,...,0.5,0.00,0.0,NaN,1.0,9.00,2.0,1.0,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46896,2,2025-11-30 16:50:21,2025-11-30 17:08:49,None,NaN,74,151,NaN,2.41,19.81,...,0.5,3.20,0.0,NaN,1.0,24.51,NaN,NaN,NaN,0.0
46898,2,2025-11-30 16:15:00,2025-11-30 16:27:00,None,NaN,74,263,NaN,1.99,15.34,...,0.5,3.92,0.0,NaN,1.0,23.51,NaN,NaN,NaN,0.0
46899,2,2025-11-30 16:26:00,2025-11-30 16:44:00,None,NaN,74,167,NaN,2.75,8.22,...,0.5,0.00,0.0,NaN,1.0,9.72,NaN,NaN,NaN,0.0
46906,2,2025-11-30 18:31:00,2025-11-30 18:52:00,None,NaN,74,142,NaN,3.84,27.23,...,0.5,4.41,0.0,NaN,1.0,35.89,NaN,NaN,NaN,0.0
46908,2,2025-11-30 19:34:00,2025-11-30 19:46:00,None,NaN,74,151,NaN,1.73,13.86,...,0.5,0.77,0.0,NaN,1.0,16.13,NaN,NaN,NaN,0.0

In [23]:
# Find dropoff zone with largest tip
max_tip_row = ehn_trips.loc[ehn_trips['tip_amount'].idxmax()]
max_tip_row

VendorID                                   2
lpep_pickup_datetime     2025-11-30 16:30:27
lpep_dropoff_datetime    2025-11-30 16:41:29
store_and_fwd_flag                         N
RatecodeID                               1.0
PULocationID                              74
DOLocationID                             263
passenger_count                          1.0
trip_distance                           2.63
fare_amount                             14.2
extra                                    0.0
mta_tax                                  0.5
tip_amount                             81.89
tolls_amount                             0.0
ehail_fee                                NaN
improvement_surcharge                    1.0
total_amount                          100.34
payment_type                             1.0
trip_type                                1.0
congestion_surcharge                    2.75
cbd_congestion_fee                       0.0
Name: 40883, dtype: object

In [24]:
dropoff_id = max_tip_row['DOLocationID']
dropoff_id

np.int32(263)

In [25]:
dropoff_zone = zones[zones['LocationID'] == dropoff_id]['Zone'].values[0]
print(dropoff_zone)

Yorkville West